@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
.topbar, .div1content, .div2content, .div3content, .div4content{
    margin: 0px 20%;
    border: 1px solid black;
    padding: 20px;
}
header{
    border: 1px solid black;
}
/*styling for logo and navbar. use flexbox*/
div.topbar{
    display: flex;
    justify-content: space-between;
}
.topbar ul{
    list-style-type: none;
    display: flex;
    
}
.topbar ul li{
    padding: 0 15px;
}
.topbar ul li a{
    text-decoration: none;
    color: #f9faf8
}

/*styling for section one including header*/
.div1content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1content h1{
    font-size: 48px;
}
.div1Ad, .div1 img{
    width: 50%;
}
header, .div1{
    background-color: #1f2937;
    color: #f9faf8;
}
/*footer*/
footer{
    text-align: center;
    padding: 20px;
    background-color: #1f2937;
    color: white;
}